/*
    Default body style.
*/
body {
    z-index: 0;
    overflow: hidden;
    /* background-color: rgb(0,0,0); */
}
html[data-pix-boot-status="pix-error"] > body {
    overflow: auto;
}
/*
    When the boot message is not empty (meaning it's not finished booting), force it's background color to be grey.
*/
html:not([data-pix=""]) > body,
html[data-pix=""]:not([data-pix-boot-status=""]) > body {
    background-color: rgb(0,0,0) !important;
}
/*
    When the boot message is empty (meaning it's finished booting), reset z-index (required for animation to work).
*/
html[data-pix=""][data-pix-boot-status=""] > body {
    z-index: initial;
}
/*
    Masking div that will cover the entire screen. Also contains the logo. Unfortunately, svg background image
    rendering with embedded fonts is pretty lousy, so we use a hi-res png instead.
*/
body:before {
    color: rgba(255,255,255,0.75);
    font: 24px sans-serif;
    letter-spacing: 0.1em;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    z-index: 2147483647;
    min-width: 320px;

    /*background-image: url();*/
    background-size: 0px 60px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    opacity: 0;

    /* transition when the logo is hidden */
    transition: opacity 0.25s ease-out 0.4s,
    background-size 0.8s ease 1s,
    height 0s linear 1s,
    top 0s linear 1s;
}
/*
    Div that will overlay the masking div.
*/
body:after {
    display: block;
    position: absolute;
    z-index: 2147483647;
    font: 12px sans-serif;
    letter-spacing: 0.1em;
    /*color: rgba(0,0,0,0.1);*/
    color: rgba(255, 255, 255, 0.75);
    white-space: pre-wrap;
    word-wrap: break-word;
}
/*
    Progress indicator when not displaying an error message.
*/
html[data-pix=""]:not([data-pix-boot-status="pix-error"]) > body:after {
    top: calc(50% + 80px);
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    content: '\00000a\00000a' attr(data-pix-boot-message);
    text-align: center;
    width: calc(100% - 80px);
    max-width: 300px;
    height: 8px;
    border: 1.5px solid rgb(60,60,60);
    box-shadow: none;
    border-radius: 10px;
    background-color: rgb(0,0,0);

    /* transition when the progress indicator is hidden */
    transition: opacity 0.25s ease-in 0s,
    height 0s linear 0.3s,
    top 0s linear 0.3s;
}
html[data-pix=""][data-pix-boot-progress=""]:not([data-pix-boot-status="pix-error"]) > body:after {
    background-color: rgba(0,0,0,0.1);
    background-size: 400% 200%;
    background-position: 0px -2px;
    background-image: repeating-linear-gradient(45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 10px, rgba(255,255,255,.2) 10px, rgba(255,255,255,.2) 20px);
    animation: animations-boot-progress-slide 0.75s linear infinite;
}
html:not([data-pix=""]) > body:before,
html[data-pix=""][data-pix-boot-status="pix-error"] > body:before {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    padding: 60px;
    content: attr(data-pix-boot-error-name);

    transition: none;
}
html:not([data-pix=""]) > body:after,
html[data-pix=""][data-pix-boot-status="pix-error"] > body:after {
    padding: 120px 60px 60px 60px;
    font-size: 14px;
    font-family: monospace;
    content: attr(data-pix-boot-error-message);
    left: 0px;
    top: 0px;
}
/*
    When the boot message is not empty (meaning it's not finished booting), show the logo and progress indicator.
*/
html[data-pix=""]:not([data-pix-boot-status=""]):not([data-pix-boot-status="alume-error"]):not([data-pix-boot-status="Initializing..."]) > body:before {
    background-size: 60px 60px;

    /* transition when the logo is shown */
    transition: opacity 0s ease-in 0s,
    background-size 2s ease 4s,
    height 0s linear 0s,
    top 0s linear 0s;
}
/*
    When the boot message is not empty (meaning it's not finished booting) and not displaying an error,
    set the transition for showing the boot splash.
*/
html[data-pix=""]:not([data-pix-boot-status=""]):not([data-pix-boot-status="pix-error"]) > body:after {
    /* transition when the progress indicator is shown */
    transition: opacity 0.5s ease-in 4s,
    height 0s linear 0s,
    top 0s linear 0s;
}
/*
    When the boot message is not empty (meaning it's not finished booting), set the opacity.
*/
html:not([data-pix=""]):not([data-pix-boot-status=""]) > body:before,
html:not([data-pix-boot-status=""]) > body:before,
html:not([data-pix=""]):not([data-pix-boot-status=""]) > body:after,
html:not([data-pix-boot-status=""]) > body:after {
    opacity: 1 !important;
}
/*
    When the boot message is empty (meaning it's finished booting), hide
    the progress indicator.
*/
html[data-pix=""][data-pix-boot-status=""] > body:after {
    opacity: 0;
}
/*
    When the boot message is empty (meaning it's finished booting), hide the logo and progress-indicator.
*/
html[data-pix=""][data-pix-boot-status=""] > body:before,
html[data-pix=""][data-pix-boot-status=""] > body:after,
html:not([data-pix=""]):not([data-pix-boot-status=""]) > body:before,
html:not([data-pix=""]):not([data-pix-boot-status=""]) > body:after {
    height: 0px;
    top: -30px;
}
/*
    Display pix notifications.
*/
html:after {
    transition: top 0.3s ease-out 5s;
    background-color: rgba(64,182,255,0.6);
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 10px 60px;

    content: '';
    position: absolute;
    top: -100%;
    right: 0px;
    left: 0px;
    z-index: 2147483647;
}
html[data-pix-boot-status=""]:after {
    transition: top 0.3s ease-out 0s;
}
html[data-pix-notify="appcache-updated"]:not([data-pix-boot-status=""]):after {
    content: 'pix has been updated!      -- Reload to apply changes --';
    top: 0px;
}
/*
    pkx specific css behavior
*/
html[data-pkx-mode="app"],
html[data-pkx-mode="app"] > body {
    width: 100%;
    height: 100%;
}
html[data-pkx-mode="app"] > body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
html[data-pkx-mode="app"] > body > iframe[data-pkx-app-id] {
    flex: 1 1 auto;
    border: none;
}
/*
    Webkit scrollbar.
*/
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-corner {
    background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
}

@keyframes animations-boot-progress-slide {
    0% { background-position-x: 0px; }
    100% { background-position-x: -28px; }
}

/*
    Progress Indicator In 10% Intervals
*/
html[data-pix-boot-progress="10"] > body:after,
html[data-pix-boot-progress="11"] > body:after,
html[data-pix-boot-progress="12"] > body:after,
html[data-pix-boot-progress="13"] > body:after,
html[data-pix-boot-progress="14"] > body:after,
html[data-pix-boot-progress="15"] > body:after,
html[data-pix-boot-progress="16"] > body:after,
html[data-pix-boot-progress="17"] > body:after,
html[data-pix-boot-progress="18"] > body:after,
html[data-pix-boot-progress="19"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 10%, rgb(0,0,0) 10%, rgb(0,0,0));
}
html[data-pix-boot-progress="20"] > body:after,
html[data-pix-boot-progress="21"] > body:after,
html[data-pix-boot-progress="22"] > body:after,
html[data-pix-boot-progress="23"] > body:after,
html[data-pix-boot-progress="24"] > body:after,
html[data-pix-boot-progress="25"] > body:after,
html[data-pix-boot-progress="26"] > body:after,
html[data-pix-boot-progress="27"] > body:after,
html[data-pix-boot-progress="28"] > body:after,
html[data-pix-boot-progress="29"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 20%, rgb(0,0,0) 20%, rgb(0,0,0));
}
html[data-pix-boot-progress="30"] > body:after,
html[data-pix-boot-progress="31"] > body:after,
html[data-pix-boot-progress="32"] > body:after,
html[data-pix-boot-progress="33"] > body:after,
html[data-pix-boot-progress="34"] > body:after,
html[data-pix-boot-progress="35"] > body:after,
html[data-pix-boot-progress="36"] > body:after,
html[data-pix-boot-progress="37"] > body:after,
html[data-pix-boot-progress="38"] > body:after,
html[data-pix-boot-progress="39"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 30%, rgb(0,0,0) 30%, rgb(0,0,0));
}
html[data-pix-boot-progress="40"] > body:after,
html[data-pix-boot-progress="41"] > body:after,
html[data-pix-boot-progress="42"] > body:after,
html[data-pix-boot-progress="43"] > body:after,
html[data-pix-boot-progress="44"] > body:after,
html[data-pix-boot-progress="45"] > body:after,
html[data-pix-boot-progress="46"] > body:after,
html[data-pix-boot-progress="47"] > body:after,
html[data-pix-boot-progress="48"] > body:after,
html[data-pix-boot-progress="49"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 40%, rgb(0,0,0) 40%, rgb(0,0,0));
}
html[data-pix-boot-progress="50"] > body:after,
html[data-pix-boot-progress="51"] > body:after,
html[data-pix-boot-progress="52"] > body:after,
html[data-pix-boot-progress="53"] > body:after,
html[data-pix-boot-progress="54"] > body:after,
html[data-pix-boot-progress="55"] > body:after,
html[data-pix-boot-progress="56"] > body:after,
html[data-pix-boot-progress="57"] > body:after,
html[data-pix-boot-progress="58"] > body:after,
html[data-pix-boot-progress="59"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 50%, rgb(0,0,0) 50%, rgb(0,0,0));
}
html[data-pix-boot-progress="60"] > body:after,
html[data-pix-boot-progress="61"] > body:after,
html[data-pix-boot-progress="62"] > body:after,
html[data-pix-boot-progress="63"] > body:after,
html[data-pix-boot-progress="64"] > body:after,
html[data-pix-boot-progress="65"] > body:after,
html[data-pix-boot-progress="66"] > body:after,
html[data-pix-boot-progress="67"] > body:after,
html[data-pix-boot-progress="68"] > body:after,
html[data-pix-boot-progress="69"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 60%, rgb(0,0,0) 60%, rgb(0,0,0));
}
html[data-pix-boot-progress="70"] > body:after,
html[data-pix-boot-progress="71"] > body:after,
html[data-pix-boot-progress="72"] > body:after,
html[data-pix-boot-progress="73"] > body:after,
html[data-pix-boot-progress="74"] > body:after,
html[data-pix-boot-progress="75"] > body:after,
html[data-pix-boot-progress="76"] > body:after,
html[data-pix-boot-progress="77"] > body:after,
html[data-pix-boot-progress="78"] > body:after,
html[data-pix-boot-progress="79"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 70%, rgb(0,0,0) 70%, rgb(0,0,0));
}
html[data-pix-boot-progress="80"] > body:after,
html[data-pix-boot-progress="81"] > body:after,
html[data-pix-boot-progress="82"] > body:after,
html[data-pix-boot-progress="83"] > body:after,
html[data-pix-boot-progress="84"] > body:after,
html[data-pix-boot-progress="85"] > body:after,
html[data-pix-boot-progress="86"] > body:after,
html[data-pix-boot-progress="87"] > body:after,
html[data-pix-boot-progress="88"] > body:after,
html[data-pix-boot-progress="89"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 80%, rgb(0,0,0) 80%, rgb(0,0,0));
}
html[data-pix-boot-progress="90"] > body:after,
html[data-pix-boot-progress="91"] > body:after,
html[data-pix-boot-progress="92"] > body:after,
html[data-pix-boot-progress="93"] > body:after,
html[data-pix-boot-progress="94"] > body:after,
html[data-pix-boot-progress="95"] > body:after,
html[data-pix-boot-progress="96"] > body:after,
html[data-pix-boot-progress="97"] > body:after,
html[data-pix-boot-progress="98"] > body:after,
html[data-pix-boot-progress="99"] > body:after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 90%, rgb(0,0,0) 90%, rgb(0,0,0));
}
html[data-pix-boot-progress="100"] > body:not([data-pix-boot-status="pix-error"]):after {
    background-image: repeating-linear-gradient(90deg, rgb(200,200,200), rgb(200,200,200) 100%);
}